## City weather condition: Openweathermap API and Citipy

In [34]:
import pandas as pd
import numpy as np
import csv
import os
import random
import time
import requests as rq
from citipy import citipy
import openweathermapy.core as ow
import matplotlib.pyplot as plt
import seaborn as sns

os.system('touch weather500.csv')

api_key = '76e147c91ea53be5e87ab63c2580c3ea'
url = 'http://api.openweathermap.org/data/2.5/weather?'
units = 'imperial'

query_url = url + "appid=" + api_key + "&units=" + units + "&q="

# Building dataframe structure

columns = ['lat','lon','City','Country','Temp (F)','Humidity (%)','Cloudiness (%)','Wind_Speed (mph)','Latitude','Longitude']
index = np.arange(2000)
coor_df = pd.DataFrame(columns=columns, index=index)

# Randomly generating unique latitide and longtitude coordinates.

seen = set()

for index, row in coor_df.iterrows():
    x,y = random.randint(-90, 90),random.randint(-180, 180)
    while len(seen) < 500:
        while (x, y) in seen:
            x,y = random.randint(-90, 90),random.randint(-180, 180)
        seen.add((x, y))
    coor_df.loc[index,'lat'] = x
    coor_df.loc[index,'lon'] = y

In [35]:
coor_df.head()

,lat,lon,City,Country,Temp (F),Humidity (%),Cloudiness (%),Wind_Speed (mph),Latitude,Longitude
0,59,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-70,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-48,-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72,-94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-12,-127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
for index, row in coor_df.iterrows():
    city = citipy.nearest_city(coor_df.loc[index,'lat'],coor_df.loc[index,'lon'])
    coor_df.loc[index,'City'] = city.city_name
    coor_df.loc[index,'Country'] = city.country_code

In [37]:
coor_df.head()

,lat,lon,City,Country,Temp (F),Humidity (%),Cloudiness (%),Wind_Speed (mph),Latitude,Longitude
0,59,174,beringovskiy,ru,NaN,NaN,NaN,NaN,NaN,NaN
1,-70,119,albany,au,NaN,NaN,NaN,NaN,NaN,NaN
2,-48,-74,coihaique,cl,NaN,NaN,NaN,NaN,NaN,NaN
3,72,-94,thompson,ca,NaN,NaN,NaN,NaN,NaN,NaN
4,-12,-127,atuona,pf,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
len(coor_df['City'])

2000

In [44]:
citydf = coor_df.drop_duplicates(subset='City')
citydf.head()

,lat,lon,City,Country,Temp (F),Humidity (%),Cloudiness (%),Wind_Speed (mph),Latitude,Longitude
0,59,174,beringovskiy,ru,NaN,NaN,NaN,NaN,NaN,NaN
1,-70,119,albany,au,NaN,NaN,NaN,NaN,NaN,NaN
2,-48,-74,coihaique,cl,NaN,NaN,NaN,NaN,NaN,NaN
3,72,-94,thompson,ca,NaN,NaN,NaN,NaN,NaN,NaN
4,-12,-127,atuona,pf,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
len(citydf['City'])

735

In [45]:
citydf = citydf.reset_index()
citydf.head()

,index,lat,lon,City,Country,Temp (F),Humidity (%),Cloudiness (%),Wind_Speed (mph),Latitude,Longitude
0,0,59,174,beringovskiy,ru,NaN,NaN,NaN,NaN,NaN,NaN
1,1,-70,119,albany,au,NaN,NaN,NaN,NaN,NaN,NaN
2,2,-48,-74,coihaique,cl,NaN,NaN,NaN,NaN,NaN,NaN
3,3,72,-94,thompson,ca,NaN,NaN,NaN,NaN,NaN,NaN
4,4,-12,-127,atuona,pf,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
len(citydf['City'])

735

In [ ]:
api_log = []

for index, row in citydf.iterrows(): 
    weather_api = query_url + citydf.loc[index,'City'] 
    weather_data = rq.get(weather_api).json()
    api_log.append({'URL for City': weather_api})
    
    temp_data = weather_data['main']['temp']
    humid_data = weather_data['main']['humidity']
    cloud_data = weather_data['clouds']['all']
    wind_data = weather_data['wind']['speed']
    lat_data = weather_data['coord']['lat']
    lon_data = weather_data['coord']['lon']
    
    citydf.loc[index,'Temp (F)'] = temp_data
    citydf.loc[index,'Humidity (%)'] = humid_data
    citydf.loc[index,'Cloudiness (%)'] = cloud_data
    citydf.loc[index,'Wind_Speed (mph)'] = wind_data
    citydf.loc[index,'Latitude'] = lat_data
    citydf.loc[index,'Longitude'] = lon_data
    
#     citydf.set_value(index,'Temp (F)',temp_data)
#     citydf.set_value(index,'Humidity', humid_data)
#     citydf.set_value(index,'Cloudiness', cloud_data)
#     citydf.set_value(index,'Wind_Speed', wind_data)
#     citydf.set_value(index,'Latitude', lat_data)
#     citydf.set_value(index,'Longitude', lon_data)
    
    time.sleep(5)

In [ ]:
citydf.head()

In [ ]:
api_log

In [ ]:
citydf.to_csv('weather500.csv')

In [ ]:
# Scatter plot for Temp vs Latitude
plt.scatter(citydf['Latitude'],citydf['Temp (F)'])
plt.title('City Temperature (F) vs. City Latitude')
plt.xlabel('Latitude')
plt.ylabel('Temperature (F)')
plt.xlim([-90,90])
# plt.ylim([-180,180])

plt.savefig('Temp vs Lat.png')

plt.show()

In [ ]:
# Scatter plot for Humidity vs Latitude
plt.scatter(citydf['Latitude'],citydf['Humidity (%)'])
plt.title('City Humidity vs. City Latitude')
plt.xlabel('Latitude')
plt.ylabel('Humidity (%)')
plt.xlim([-90,90])
# plt.ylim([-180,180])

plt.savefig('Humidity vs Lat.png')

plt.show()

In [ ]:
# Scatter plot for Cloudiness vs Latitude
plt.scatter(citydf['Latitude'],citydf['Cloudiness (%)'])
plt.title('City Cloudiness vs. City Latitude')
plt.xlabel('Latitude')
plt.ylabel('Cloudiness (%)')
plt.xlim([-90,90])
# plt.ylim([-180,180])

plt.savefig('Cloudiness vs Lat.png')

plt.show()

In [ ]:
# Scatter plot for Wind speed vs Latitude
plt.scatter(citydf['Latitude'],citydf['Wind_Speed (mph)'])
plt.title('City Wind Speed vs. City Latitude')
plt.xlabel('Latitude')
plt.ylabel('Wind Speed (mph)')
plt.xlim([-90,90])
# plt.ylim([-180,180])

plt.savefig('Wind Speed vs Lat.png')

plt.show()